<h1> Welcome to our Gossip website <%= @visitor_name %></h1>
<p> Voici le liste de potins</p>

<table class="table table-bordered potin-table">
	<thead>
		<tr>
			<th> Auteur</th>
			<th> Contenu</th>
		</tr>
	</thead>
	<tbody>
		<% @potin.each do |item|%>
			<tr>
				<td> <%= item.user.first_name %> </td>
				<td> <%= link_to "#{item.title}", "/potin/show/#{item.id}" %></td>
			</tr>
		<%end%>
	</tbody>
</table>
