
<h1>Team's Presentation</h1>

<p> 
	Gossip project developped by : <br>
	<table>
		<thead>
			<tr>
				<th>Team's firstname</th>
				<th>Team's lastname</th>
			</tr>
		</thead>
		<tbody>
			<% @team_list.each do |item| %>
			  <tr>
			    <td><%= item.first_name %></td>
			    <td><%= item.last_name %></td>
			  </tr>
			<%end%>
		</tbody>
	</table>
</p>
